.navbar{
    position: relative;
    display: flex;
    background-color: #f4f4f4;
    margin: 0px !important;
    padding: none;
    flex-direction: row;
    width: 100vw;
    height: 60px;
    color: rgb(252, 251, 251);
    align-items: center;

    a{
        text-decoration: none;
        color: wheat;
    }
    a:hover {
        color: #333;
    }

}
.imgNav img{
    background-color: none;
    width: 70px;
    padding-inline: 10px;
}
.inputNav input {
    border-radius:  10px;
    background-color: #f4eaea;
    border: none;
}


.iconsnav a {
    color: #333;
    
}